@model CarrinhoCompraViewModel

@if(Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
	<a asp-controller="CarrinhoCompra" asp-action="Index">
		<span><img src="~/images/cart 1616.png" /> </span>
		<span style="color:white">
			@Model.CarrinhoCompra.CarrinhoCompraItems.Count
		</span>
		</a>

}